html{
    font-size: 100%;
}

body{
    color: #333;
    font-size: 1rem;
    font-family: 'Noto Sans', Noto sans JP, sans-serif;
}

a{
    color: #333;
    text-decoration: none;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

.wrapper{
    width: 100%;
    padding: 0 16px;
}

.read_more{
    text-align: center;
}


header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}

.lists{
    background-color: #333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lists a{
    color: #fff;
}

.lists li{
    padding: 10px 60px 10px 0px;
}

.pickup{
    width: 90%;
    display: block;
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    margin: 60px 5% 0;
}

.pickup article{
    width: 32%;
}

.container{
    width: 90%;
    display: block;
    display: flex;
    justify-content: space-between;
    margin: 60px 5% 0;
}

.main{
    width: 67%;
}

.date_info{
    display: flex;
}
.main li{
    margin-right: 20px;
}

.main article{
    margin-bottom: 80px;
}


.side{
    width: 30%;
}

.profile img{
    width: 200px;
    display: block;
    border-radius: 30px;
    margin: 0 auto;
}

.profile{
    margin-bottom: 60px;
}

.side_title{
    text-align: center;
}

.ranking article{
    margin-bottom:60px ;
}

.archive li{
    border-bottom: 1px solid #333;
    padding: 20px;
}

.content{
    width: 90%;
    display: flex;
    background-color: #f7f7f7;
    padding: 50px 5%;
}

.item{
    width: 30%;
    margin: 15px;
    border: 1px solid #333;
    padding: 10px;
}

.about_lists li{
    list-style:disc;
    padding: 10px;
}

.menu_list li{
    border-bottom: 1px solid #333;
    padding: 10px;
}

@media screen and (max-width: 767px){

    title{
        padding: 20px 16px;
    }

    .navi_lists{
        overflow-x: scroll;
    }

    .pickup{
        flex-direction: column;
        padding-top: 140px;
    }

    .pickup article{
        width: 100%;
        margin-bottom: 30px;
    }

    .container{
        flex-direction: column;
    }

    .main{
        width: 100%;
    }

    .side{
        width: 100%;
        padding: 0;
    }

    .content{
        flex-direction: column;
    }

    .item{
        width: 100%;
        border: none;
    }

}